 .home,.collect{
     max-width: 1221px;
     margin: auto;
  }
.head {
    margin-top: 109px;
    display: flex;
    justify-items: center;
    overflow: hidden;
}

.head_img {
    margin-top: 85px;

    img {
        width: 340px;
        height: 635px;
    }
}

.head_right {
    width: 832px;
    padding-left: 40px;

    p {
        clear: both;
        font-family: MicrosoftYaHei;
        width: 792px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        line-height: 35px;
        color: #292a2c;
        margin-top: 35px;
        overflow: hidden;
    }

    p:nth-child(0) {
        margin-top: 75px;
    }

    .head_right_img1 {
        float: right;
        width: 147px;
        height: 206px;
        margin-bottom: 70px;
        margin-right: 50px;
    }

    .head_right_img2 {
        width: 74p x;
        height: 41px;
        margin-top: 130px;
        margin-left: 202px;
    }
}

.ListS {
    // width: 100%;
    margin: 40px 0px 88px 21px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    padding: 32px 20px 200px 48px;

    .List_icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 23px;
        right: 52px;
    }

    .List {
        .List_p {
            font-family: FZLTZHK--GBK1-0;
            font-size: 60px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 60px;
            letter-spacing: 0px;
            color: #8e1218;
            margin-top: 35px;
        }

        .List_p2 {
            font-family: FZLTZHK--GBK1-0;
            font-size: 60px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 60px;
            letter-spacing: 0px;
            color: #8e1218;
        }

        .List_span {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 82px;
            letter-spacing: 0px;
            color: #858b93;
        }

        .model {
            display: flex;
            align-content: center;

            .list_div {
                flex: 1;
                width: 253px;
                height: 337px;
                background-color: #858b93;
                border-radius: 5px;
                margin: 0px auto;
                text-align: center;
                margin-right: 30px;
                position: relative;
            }
        }
    }
}

.model_img {
    margin-top: 40px;
}

.mode-_detail {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 80px;
    bottom: 0px;
    background-color: #bfbfbf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    p {
        margin-top: 21px;
        font-family: FZLTZHK--GBK1-0;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #8e1218;
    }

    span {
        font-family: FZLTZHK--GBK1-0;
        font-size: 8px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #191919;
    }
}

.body {
    margin: 90px 0px 0px 21px;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.head_input {
    position: relative;
}

.head_input > img {
    position: absolute;
    right: 20px;
    top: 6px;
    width: 29px;
    height: 29px;
}

.share {
    border: none;
    width: 253px;
    height: 45px;
    background-color: #eeeeee;
    border-radius: 20px;
    padding-left: 5px;
}

.body_title {
    display: flex;
    align-items: center;
    margin-left: 30%;

    p {
        font-family: 2FZLTXHK--GBK1-0;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #292a2c;
        padding-right: 15px;
        padding-left: 15px;
        border-right: 1.5px solid #292a2c;
    }

    .titleActive {
      
        color: #972e32;
    }
}
